.w-auto {
  width: auto;
}
.text-\[14px\] {
  font-size: 14px;
}
.mt-1 {
  margin-top: 0.25rem /* 4px */;
}
.text-\[1\.7rem\] {
  font-size: 1.7rem /* 27.2px */;
}
.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.pointer-events-none {
  pointer-events: none;
}
.opacity-10 {
  opacity: 0.1;
}
.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity));
}
.shadow {
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color),
    0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.left-0 {
  left: 0px;
}
.top-0 {
  top: 0px;
}
.h-full {
  height: 100%;
}
.absolute {
  position: absolute;
}
.h-full {
  height: 100%;
}
.w-full {
  width: 100%;
}
.flex {
  display: flex;
}
.flex {
  display: flex;
}
.items-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.relative {
  position: relative;
}
.h-\[8\%\] {
  height: 8%;
}
.drop-shadow-md {
  --tw-drop-shadow: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07))
    drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
  filter: var(--tw-filter);
}
.bottom-2 {
  bottom: 0.5rem /* 8px */;
}
.z-50 {
  z-index: 50;
}
.grid {
  display: grid;
}
.box-border {
  box-sizing: border-box;
}
.grid-cols-5 {
  grid-template-columns: repeat(5, minmax(0, 1fr));
}
.grid-rows-5 {
  grid-template-rows: repeat(5, minmax(0, 1fr));
}
.z-10 {
  z-index: 10;
}
.bg-\[\#24292e\] {
  --tw-bg-opacity: 1;
  background-color: rgb(36 41 46 / var(--tw-bg-opacity));
}
.flex-row {
  flex-direction: row;
}
.h-\[93\%\] {
  height: 93%;
}
.mr-4 {
  margin-right: 1rem /* 16px */;
}
.w-\[5rem\] {
  width: 5rem /* 80px */;
}
.h-\[50\%\] {
  height: 50%;
}
.text-\[0\.875rem\] {
  font-size: 0.875rem /* 14px */;
}
.pl-3 {
  padding-left: 0.75rem /* 12px */;
}
.pr-3 {
  padding-right: 0.75rem /* 12px */;
}
.whitespace-nowrap {
  white-space: nowrap;
}
.text-\[1\.8rem\] {
  font-size: 1.8rem /* 28.8px */;
}
.justify-end {
  justify-content: flex-end;
}
.justify-start {
  justify-content: flex-start;
}
.hover\:invert-\[50\%\]:hover {
  --tw-invert: invert(50%);
  filter: var(--tw-filter);
}
.ml-4 {
  margin-left: 1rem /* 16px */;
}
.mr-4 {
  margin-right: 1rem /* 16px */;
}
.justify-between {
  justify-content: space-between;
}
.bg-\[\#262626\] {
  --tw-bg-opacity: 1;
  background-color: rgb(38 38 38 / var(--tw-bg-opacity));
}
.h-\[7\%\] {
  height: 7%;
}
.h-screen {
  height: 100vh;
}
.w-screen {
  width: 100vw;
}
.toolbar_btn {
  height: 85%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 6rem;
}
.modalbox {
  background-color: #393e4b;
  display: none;
  --tw-drop-shadow: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07))
    drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
  filter: var(--tw-filter);
  position: fixed;
  top: 10%;
  left: 0.5%;
  z-index: 40;
  width: 25%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modalbox-title {
  width: 100%;
  height: 7%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 1.3rem /* 20.8px */;
  --tw-bg-opacity: 1;
  background-color: rgb(38 38 38 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(191 191 191 / var(--tw-text-opacity));
}
.biaotibeijing {
  --tw-bg-opacity: 1;
  background-color: rgb(38 38 38 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(191 191 191 / var(--tw-text-opacity));
}
.anniubeijing {
  --tw-bg-opacity: 1;
  background-color: rgb(45 53 73 / var(--tw-bg-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(49 54 63 / var(--tw-bg-opacity));
}
.shitubox {
  display: flex;
  width: 32%;
  padding: 0.5rem /* 8px */;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.shitubox > img:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(177 184 197 / var(--tw-bg-opacity));
}
.h-\[40\%\] {
  height: 40%;
}
.bottom-0 {
  bottom: 0px;
}
.right-2 {
  right: 0.5rem /* 8px */;
}
.z-\[8\] {
  z-index: 8;
}
.w-\[150px\] {
  width: 150px;
}
.text-\[30px\] {
  font-size: 30px;
}
.mt-2{
  margin-top: 10px;
}
.text-\[20px\] {
  font-size: 20px;
}
.h-\[1\.7rem\] {
  height: 1.7rem /* 27.2px */;
}
.right-2 {
  right: 0.5rem /* 8px */;
}
.w-auto {
  width: auto;
}
.top-0 {
  top: 0px;
}
.left-0 {
  left: 0px;
}
.justify-items-center {
  justify-items: center;
}
.bg-\[\#24292e\] {
  --tw-bg-opacity: 1;
  background-color: rgb(36 41 46 / var(--tw-bg-opacity));
}
.h-\[40\%\] {
  height: 40%;
}
.border-\[1px\] {
  border-width: 1px;
}
.border-\[\#5f6d7a\] {
  --tw-border-opacity: 1;
  border-color: rgb(95 109 122 / var(--tw-border-opacity));
}
.p-\[2px\] {
  padding: 2px;
}
.h-\[99\%\] {
  height: 99%;
}
.w-\[99\%\] {
  width: 99%;
}
.w-\[97\%\] {
  width: 97%;
}
.w-\[95\%\] {
  width: 95%;
}
.h-\[95\%\] {
  height: 95%;
}
.w-\[9rem\] {
  width: 9rem /* 144px */;
}
.text-\[0\.975rem\] {
  font-size: 0.975rem /* 15.6px */;
}
.mr-1 {
  margin-right: 0.25rem /* 4px */;
}
.ml-1 {
  margin-left: 0.25rem /* 4px */;
}
.justify-content-center {
  justify-content: center;
}
.bg-\[\#000000\] {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity));
}
.rounded-tr-lg {
  border-top-right-radius: 0.5rem /* 8px */;
}
.rounded-br-lg {
  border-bottom-right-radius: 0.5rem /* 8px */;
}
.h-7 {
  height: 1.75rem /* 28px */;
}
.pr-1 {
  padding-right: 0.25rem /* 4px */;
}
.pr-1 {
  padding-right: 0.25rem /* 4px */;
}
.h-5 {
  height: 1.25rem /* 20px */;
}
.h-4 {
  height: 1rem /* 16px */;
}
.w-\[8\%\] {
  width: 8%;
}
.h-\[43\%\] {
  height: 43%;
}
.w-\[20\%\] {
  width: 20%;
}
.pl-2 {
  padding-left: 0.5rem /* 8px */;
}
.pr-2 {
  padding-right: 0.5rem /* 8px */;
}
.mr-3 {
  margin-right: 0.75rem /* 12px */;
}
.max-w-\[30\%\] {
  max-width: 30%;
}
.text-\[0\.875rem\] {
  font-size: 0.875rem /* 14px */;
}
.justify-between {
  justify-content: space-between;
}
.h-\[27\%\] {
  height: 27%;
}
.mb-\[3\%\] {
  margin-bottom: 3%;
}
.overflow-auto {
  overflow: auto;
}
.text-\[0\.675rem\] {
  font-size: 0.675rem /* 10.8px */;
}
.bg-\[\#2d3549\] {
  --tw-bg-opacity: 1;
  background-color: rgb(45 53 73 / var(--tw-bg-opacity));
}
.bg-\[\#262626\] {
  --tw-bg-opacity: 1;
  background-color: rgb(38 38 38 / var(--tw-bg-opacity));
}
.text-\[0\.675rem\] {
  font-size: 0.675rem /* 10.8px */;
}
.mt-1 {
  margin-top: 0.25rem /* 4px */;
}
.mb-2 {
  margin-bottom: 0.5rem /* 8px */;
}
.overflow-y-scroll {
  overflow-y: scroll;
}
.pb-3 {
  padding-bottom: 0.75rem /* 12px */;
}
.h-\[86\%\] {
  height: 86%;
}
.pl-\[1rem\] {
  padding-left: 1rem /* 16px */;
}
.pr-\[1rem\] {
  padding-right: 1rem /* 16px */;
}
.border-b-283240 {
  border-bottom: #283240 1px solid;
}
.h-\[3\.5rem\] {
  height: 3.5rem /* 56px */;
}
.overscroll-contain {
  overscroll-behavior: contain;
}
.overflow-y-scroll {
  overflow-y: scroll;
}
.h-\[93\%\] {
  height: 93%;
}
.ml-\[0\.8rem\] {
  margin-left: 0.8rem /* 12.8px */;
}
.h-\[86\%\] {
  height: 86%;
}
.w-\[80\%\] {
  width: 80%;
}
.ml-\[0\.8rem\] {
  margin-left: 0.8rem /* 12.8px */;
}
.text-\[\#bfbfbf\] {
  --tw-text-opacity: 1;
  color: rgb(191 191 191 / var(--tw-text-opacity));
}
.pr-\[1rem\] {
  padding-right: 1rem /* 16px */;
}
.text-\[1\.6rem\] {
  font-size: 1.6rem /* 25.6px */;
}
.h-\[3\.5rem\] {
  height: 3.5rem /* 56px */;
}
.w-\[100\%\] {
  width: 100%;
}
.p-1 {
  padding: 0.25rem /* 4px */;
}
.h-\[52\%\] {
  height: 52%;
}
.border-\[\#5f6d7a\] {
  border: 2px #5451 solid;
}
.border-\[1px\] {
  border-width: 1px;
}
.p-\[2px\] {
  padding: 2px;
}
.border-none {
  border-style: none;
}
.bg-\[\#24292e\] {
  --tw-bg-opacity: 1;
  background-color: rgb(36 41 46 / var(--tw-bg-opacity));
}
.h-\[92\.35\%\] {
  height: 92.35%;
}
.bottom-\[0\.35\%\] {
  bottom: 0.35%;
}
.right-\[0\.1\%\] {
  right: 0.1%;
}
.grid {
  display: grid;
}
.z-10 {
  z-index: 10;
}
.h-\[27\%\] {
  height: 27%;
}
.mb-\[3\%\] {
  margin-bottom: 3%;
}
.bg-\[\#262626\] {
  --tw-bg-opacity: 1;
  background-color: rgb(38 38 38 / var(--tw-bg-opacity));
}
.text-\[\#ffa500\] {
  --tw-text-opacity: 1;
  color: rgb(255 165 0 / var(--tw-text-opacity));
}
.text-\[0\.9rem\] {
  font-size: 0.9rem /* 14.4px */;
}
.h-\[40\%\] {
  height: 40%;
}
.min-h-\[5\.7rem\] {
  min-height: 5.7rem /* 91.2px */;
}
.pb-1 {
  padding-bottom: 0.25rem /* 4px */;
}
.mb-2 {
  margin-bottom: 0.5rem /* 8px */;
}
.h-auto {
  height: auto;
}
.pb-3 {
  padding-bottom: 0.75rem /* 12px */;
}
.mb-\[3\%\] {
  margin-bottom: 3%;
}
.text-\[0\.675rem\] {
  font-size: 0.675rem /* 10.8px */;
}
.overflow-auto {
  overflow: auto;
}
.w-auto {
  width: auto;
}
.flex-col {
  flex-direction: column;
}
.h-\[70\%\] {
  height: 70%;
}
.pt-2 {
  padding-top: 0.5rem /* 8px */;
}
.h-\[20\%\] {
  height: 20%;
}
.text-\[4\.5rem\] {
  font-size: 4.5rem /* 72px */;
}
.mr-2 {
  margin-right: 0.5rem /* 8px */;
}
.mb-1 {
  margin-bottom: 0.25rem /* 4px */;
}
.flex-\[1\.1\] {
  flex: 1.1;
}
.min-w-\[20\%\] {
  min-width: 20%;
}
.text-ellipsis {
  text-overflow: ellipsis;
}
.overflow-hidden {
  overflow: hidden;
}
.min-w-\[15\%\] {
  min-width: 15%;
}
.w-\[98\%\] {
  width: 98%;
}
.mr-\[1\.15rem\] {
  margin-right: 1.15rem /* 18.4px */;
}
.mr-5 {
  margin-right: 1.25rem /* 20px */;
}
.ml-2 {
  margin-left: 0.5rem /* 8px */;
}
.text-\[12px\] {
  font-size: 12px;
}
.text-\[1\.7rem\] {
  font-size: 1.7rem /* 27.2px */;
}
.h-\[6\%\] {
  height: 6%;
}
.z-50 {
  z-index: 50;
}
.bg-\[\#262626\] {
  --tw-bg-opacity: 1;
  background-color: rgb(38 38 38 / var(--tw-bg-opacity));
}
.bg-\[\#337c33\] {
  --tw-bg-opacity: 1;
  background-color: rgb(51 124 51 / var(--tw-bg-opacity));
}
.top-\[45\%\] {
  top: 45%;
}
.text-\[13px\] {
  font-size: 13px;
}
.text-\[0\.9rem\] {
  font-size: 0.9rem /* 14.4px */;
}
.w-\[60\%\] {
  width: 60%;
}
.h-\[85\%\] {
  height: 85%;
}
.h-\[15\%\] {
  height: 15%;
}
.text-\[14px\] {
  font-size: 14px;
}
.h-\[30px\] {
  height: 30px;
}
.\!flex-row {
  flex-direction: row !important;
}
.invert-\[100\%\] {
  --tw-invert: invert(100%);
  filter: var(--tw-filter);
}
.text-right {
  text-align: right;
}
.\!w-\[35\%\] {
  width: 35% !important;
}
.bg-\[\#24292e\] {
  --tw-bg-opacity: 1;
  background-color: rgb(36 41 46 / var(--tw-bg-opacity));
}
.border-\[1px\] {
  border-width: 1px;
}
.h-\[88\%\] {
  height: 88%;
}
.shadow-md {
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color),
    0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.z-\[888\] {
  z-index: 888;
}
.bg-\[\#337c33\] {
  --tw-bg-opacity: 1;
  background-color: rgb(51 124 51 / var(--tw-bg-opacity));
}
.h-\[35px\] {
  height: 35px;
}
.text-\[16px\] {
  font-size: 16px;
}
.h-\[15\%\] {
  height: 15%;
}
.p-2 {
  padding: 0.5rem /* 8px */;
}
.w-\[60\%\] {
  width: 60%;
}
.w-\[9rem\] {
  width: 9rem /* 144px */;
}
.right-\[1\%\] {
  right: 1%;
}
.\!h-\[25\%\] {
  height: 25% !important;
}
.right-0 {
  right: 0px;
}
.bg-red-600 {
  --tw-bg-opacity: 1;
  background-color: rgb(220 38 38 / var(--tw-bg-opacity));
}
.rounded-full {
  border-radius: 9999px;
}
.h-\[10px\] {
  height: 10px;
}
.w-\[10px\] {
  width: 10px;
}
.ml-2 {
  margin-left: 0.5rem /* 8px */;
}
.pl-2 {
  padding-left: 0.5rem /* 8px */;
}
.pr-2 {
  padding-right: 0.5rem /* 8px */;
}
