@font-face {
  font-family: PingFang;
  src: url(PingFang.ttf);
}

* {
  font-family: PingFang !important;
}
*::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 7px !important; /*高宽分别对应横竖滚动条的尺寸*/
  height: 1px !important;
}
*::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2) !important;
  background: #c1c1c1 !important;
}
*::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2) !important;
  background: #ededed !important;
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
/*button{
    margin: 0 !important;
    color: #fff !important;
    background-color: #006EFF !important
}*/
#__vconsole {
  font-size: 16px !important;
}
#__vconsole div {
  display: block;
}
#root {
  width: 100%;
  height: 100%;
  background-color: rgb(250, 250, 250);
  position: absolute;
  display: block;
}
#login-root {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#login-card {
  width: 450px;
  height: 500px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  background-color: white;
}
.login-card {
  width: 360px;
  height: 450px;
  background-color: white;
  margin: 0 auto;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
.popover {
  min-width: 300px;
  max-width: 1000px;
  border: 0;
  white-space: nowrap;
  /* overflow: hidden; */
}
.popover-body {
  display: flex;
  flex-direction: column;
  padding: 0;
}
.popover-body > div {
  width: 100%;
  height: 35px;
  display: flex;
  justify-content: center;
  cursor: default;
}
.popover-body > div:hover {
  background-color: #f7f7f7;
}

.icon-gray {
  color: #bfbfbf;
}
.icon-normal {
  color: #515151;
}
.icon-blue {
  color: #006eff;
}
.device-testing-btn {
  color: #515151;
  cursor: pointer;
  margin-top: -14px;
  opacity: 0.8;
}
.device-connect-list {
  width: 310px;
  height: 70px;
  position: absolute;
  bottom: 50px;
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  justify-content: space-around;
  padding: 0 10px;
}
.device-connect-list::before {
  content: "";
  width: 0;
  height: 0;
  border: 8px transparent solid;
  border-top-color: rgba(0, 0, 0, 0.2);
  opacity: 0.6;
  position: absolute;
  bottom: -16px;
  left: 50%;
  transform: translateX(-50%);
}
.device-connect-list::after {
  content: "";
  width: 0;
  height: 0;
  border: 7px transparent solid;
  border-top-color: #fff;
  position: absolute;
  bottom: -14px;
  left: 50%;
  transform: translateX(-50%);
}
.connect {
  width: 28px;
  height: 64px;
  font-size: 28px;
  text-align: center;
  position: relative;
  opacity: 0.8;
}
.device-icon {
  width: 20px;
  height: 20px;
  margin-right: 3px;
  display: block;
  text-align: center;
  font-size: 20px;
  line-height: 20px;
}
#device-testing-root {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-self: center;
  background: rgba(0, 0, 0, 0.1);
  z-index: 999;
  justify-content: center;
  align-items: center;
}
#message-box {
  width: 450px;
  height: 73%;
  display: none;
  padding: 10px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-self: center;
  z-index: 998;
  top: 7%;
  margin-left: 2%;
}
#userLB {
  width: 450px;
  height: 73%;
  padding: 10px;
  display: none;
  position: absolute;
  justify-content: center;
  align-self: center;
  margin-left: 2%;
  z-index: 998;
  top: 7%;
}
#SQFYLB {
  width: 450px;
  height: 73%;
  padding: 10px;
  display: none;
  position: absolute;
  justify-content: center;
  align-self: center;
  margin-left: 2%;
  z-index: 998;
  top: 7%;
}

#SZLB {
  width: 450px;
  height: 73%;
  padding: 10px;
  display: none;
  position: absolute;
  justify-content: center;
  align-self: center;
  margin-left: 2%;
  z-index: 998;
  top: 7%;
}
#streamReId {
  width: 28%;
  position: absolute;
  justify-content: center;
  align-self: center;
  z-index: 999;
  top: 40%;
  left: 36%;
  display: none;
}
#NetworkNotDetected {
  width: 14%;
  position: absolute;
  justify-content: center;
  align-self: center;
  z-index: 999;
  top: 40%;
  left: 43%;
  display: none;
}
#bottom_mean {
  width: 100%;
  position: absolute;
  align-self: center;
  z-index: 998;
  bottom: 1%;
  justify-content: space-between;
  display: none;
}
.icondiv {
  display: block;
  text-align: center;
  width: 80px;
}

.fsbtn {
  background-color: #606060;
  width: 60px;
  color: #fff !important;
  border-radius: 20px;
  border: 1px;
  height: 30px;
  margin: 10px;
}
.messsj {
  font-size: 12px;
  margin: 10px;
  color: #606060;
  justify-content: center;
}
.iconmessdiv {
  display: block;
  width: 40px;
  text-align: center;
}
.message-user {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.message-nr {
  /*text-indent: 2em;*/
  background-color: #b3e66f;
  margin-left: 10px;
  border-radius: 5px;
  padding: 10px;
  font-size: 15px;
  max-width: 85%;
  word-break: break-word;
  overflow: hidden;
}

.message-nr2 {
  /*text-indent: 2em;*/
  background-color: #b3e66f;
  margin-right: 10px;
  border-radius: 5px;
  padding: 10px;
  font-size: 15px;
  max-width: 85%;
  word-break: break-word;
  overflow: hidden;
}
.sqfylb_div {
  margin-top: 10px;
  justify-content: space-between;
}
.sqfylb_yx_btn {
  background-color: #999;
  width: 75px;
  color: #fff !important;
  border-radius: 5px;
  border: 1px;
  height: 30px;
  margin: 10px;
}
.sqfylb_gb_btn {
  background-color: #999;
  width: 60px;
  color: #fff !important;
  border-radius: 5px;
  border: 1px;
  height: 30px;
  margin: 10px;
}
.device-testing-card {
  width: 640px;
  height: 480px;
  background: #f7f7f7;
  border-radius: 10px;
  position: relative;
  display: block;
}
.device-testing-prepare,
.device-testing-report {
  display: block;
}
.device-testing {
  flex-wrap: wrap;
}
.testing-title {
  font-size: 34px;
  justify-content: center;
  margin-top: 55px;
  color: #201e1ee5;
  text-align: center;
}
.testing-prepare-info {
  font-size: 16px;
  justify-content: center;
  margin-top: 25px;
  color: #585656e5;
  text-align: center;
}
.device-testing-close-btn {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  font-size: 20px;
}
.device-display {
  margin-top: 40px;
  justify-content: center;
}
.device {
  width: 46px;
  height: 46px;
  position: relative;
  justify-content: center;
  font-size: 38px;
}
.device:not(:first-child) {
  margin-left: 60px;
}
.device:not(:first-child).noVoiceDevice {
  margin-left: 100px;
}
.device::before {
  content: "";
  width: 28px;
  height: 28px;
  position: absolute;
  bottom: -34px;
  left: 50%;
  transform: translateX(-50%);
}
.connect-success::before {
  background: url("../img/success.png") no-repeat;
  background-size: 100% 100%;
}
.connect-fail::before {
  background: url("../img/fail.png") no-repeat;
  background-size: 100% 100%;
}
@keyframes device-loading {
  0% {
    width: 0%;
    border-radius: 6px 0 0 6px;
  }
  50% {
    width: 50%;
    border-radius: 6px 0 0 6px;
  }
  100% {
    width: 100%;
    border-radius: 6px;
  }
}
.loading-background {
  width: 350px;
  height: 3px;
  border-radius: 6px;
  margin: 20px auto 0;
  background: #bfbfbf;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.device-loading {
  height: 3px;
  background-color: #808080;
  animation: device-loading 2s;
  animation-fill-mode: both;
}
.connect-info {
  margin-top: 60px;
  display: flex;
  height: 48px;
  justify-content: center;
}
.connect-attention-container {
  position: relative;
  margin-left: 3px;
}
.connect-attention-icon {
  font-size: 20px;
  color: red;
}
.connect-attention-info {
  padding: 8px 12px;
  min-width: 120px;
  min-height: 50px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  color: #fff;
  position: absolute;
  right: 0;
  bottom: 100%;
  transform: translate(20px, -10px);
  display: block;
  white-space: nowrap;
  font-size: 12px;
}
.connect-attention-info::after {
  content: "";
  width: 0;
  height: 0;
  border: 10px transparent solid;
  border-top-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  left: 100%;
  top: 100%;
  transform: translateX(-40px);
}
.testing-btn-display {
  justify-content: center;
  margin-top: 30px;
}
.test-btn {
  width: 200px;
  height: 44px;
  background: #006eff;
  border-radius: 5px;
  text-align: center;
  color: #fff;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}
.start-gray {
  background: #dddddd;
  color: #fff;
  cursor: not-allowed;
}
.device-testing-title {
  justify-content: center;
  width: 100%;
  margin-top: 40px;
  text-align: center;
  display: flex;
}
.testing {
  width: 26px;
  height: 26px;
  position: relative;
  justify-content: center;
  text-align: center;
  font-size: 24px;
  line-height: 24px;
}
.testing:not(:first-child) {
  margin-left: 90px;
}
.testing:not(:first-child)::before {
  content: "";
  width: 70px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: -80px;
  background: #bfbfbf;
}
.testing:not(:first-child).noVoiceDevice {
  margin-left: 140px;
}
.testing:not(:first-child).noVoiceDevice::before {
  width: 120px;
  left: -130px;
}
.testing.complete {
  cursor: pointer;
}
.testing.complete:not(:first-child)::before {
  background: #006eff;
}
.testing-body {
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}
.device-list {
  margin: 30px auto 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.device-select {
  width: 260px;
  height: 30px;
  margin-left: 10px;
  padding: 0 10px;
  border-radius: 4px;
  -webkit-appearance: menulist-button;
}
.camera-video {
  width: 300px;
  height: 180px;
  display: block;
  margin: 30px auto 0;
}
.testing-info-container {
  display: block;
  position: absolute;
  bottom: 50px;
  margin-top: 24px;
  left: 50%;
  transform: translateX(-50%);
}
.testing-info {
  width: 100%;
  text-align: center;
  display: block;
}
.button-list {
  margin-top: 10px;
  width: 300px;
  display: flex;
  justify-content: space-around;
}
.fail-button {
  border: 1px solid #006eff;
  border-radius: 8px;
  color: #006eff;
  padding: 6px 14px;
  cursor: pointer;
}
.success-button {
  border: 1px solid #006eff;
  border-radius: 8px;
  background: #006eff;
  color: #fff;
  padding: 6px 14px;
  cursor: pointer;
}
.audio-control {
  width: 320px;
  display: block;
  margin: 40px auto 0;
}
.audio-control-info {
  margin: 0px auto 20px 6px;
  color: #5f5f5f;
}
.mic-testing-container {
  display: block;
  margin: 30px auto 0;
}
.mic-testing-info {
  color: #bbbbbb;
  font-size: 14px;
  text-align: center;
}
.mic-bar-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.mic-bar {
  width: 10px;
  height: 30px;
  border: 1px solid #cccccc;
  border-radius: 1px;
}
.mic-bar:not(:first-child) {
  margin-left: 3px;
}
.mic-bar.active {
  background: #006eff;
}
.testing-index-list {
  margin-top: 40px;
  width: 100%;
  display: block;
}
.testing-index-group {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin-top: 14px;
  margin: 10px auto 0;
}
@keyframes loading-circle {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.network-loading::before {
  content: "";
  width: 16px;
  height: 16px;
  background: url("../img/loading.png");
  background-size: 100% 100%;
  animation: loading-circle 2s linear infinite;
}
.testing-footer {
  margin-top: 70px;
  display: flex;
  justify-content: center;
}
.device-report-list {
  display: block;
  margin-top: 40px;
}
.device-report {
  width: 60%;
  margin: 20px auto 0;
  display: flex;
  justify-content: space-between;
}
.device-info {
  width: 85%;
}
.report-icon {
  width: 24px;
  height: 24px;
  display: flex;
  margin-right: 20px;
  justify-content: center;
  font-size: 22px;
  line-height: 22px;
  color: #515151;
}
.device-name {
  width: 280px;
  height: 24px;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.device-report-footer {
  margin-top: 25px;
  display: flex;
  justify-content: center;
}
.device-report-btn {
  width: 160px;
  height: 40px;
  border: 1px solid;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.testing-agin {
  border-color: #006eff;
  color: #006eff;
}
.testing-finish {
  background: #006eff;
  color: #fff;
  margin-left: 60px;
}
#remind-info-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
}
.webview-remind {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.webview-remind-img {
  position: absolute;
  top: 10px;
  right: 45px;
  width: 140px;
}
.webview-remind-info {
  position: absolute;
  top: 150px;
  right: 20px;
  width: 360px;
  flex-wrap: wrap;
  font-size: 30px;
  color: #ffffff;
}
.browser-remind {
  display: none;
  flex-wrap: wrap;
  padding: 24px 20px 40px;
  min-width: 300px;
  max-width: 480px;
  width: 40%;
  min-height: 90px;
  border-radius: 10px;
  background-color: #f0f0f0;
}
.remind-info {
  margin-top: 26px;
  padding: 0 10px;
  font-size: 18px;
  line-height: 34px;
}
@media only screen and (max-width: 680px) {
  .browser-remind {
    width: 80%;
  }
  .remind-info {
    font-size: 22px;
    line-height: 40px;
  }
}
@media only screen and (min-width: 680px) and (max-width: 1000px) {
  .browser-remind {
    width: 60%;
  }
}

/* 以下为自定义样式 */

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#layui-layer-shade1 {
  z-index: 998 !important;
}
#__vconsole {
  z-index: 999 !important;
}
.select-title {
  font-size: 13px;
}

/*#mic_btn:hover,
#video_btn:hover,*/
#xiaoxi_btn:hover,
#shenqingfayan_btn:hover,
#guanbimaikefeng_btn:hover,
#quxiaozhujiangren_btn:hover,
#canyuzhe_btn:hover,
#fanzhuan_btn:hover,
#fayanliebiao_btn:hover {
  fill: #bdb8b8;
  color: #bdb8b8;
}

/*#mic_btn:hover svg,
#video_btn:hover svg,*/
#fanzhuan_btn:hover svg,
#quxiaozhujiangren_btn:hover svg,
#guanbimaikefeng_btn:hover svg,
#shenqingfayan_btn:hover svg,
#xiaoxi_btn:hover svg,
#fayanliebiao_btn:hover svg,
#canyuzhe_btn:hover svg {
  fill: #bdb8b8;
  color: #bdb8b8;
}

#member-list > div:last-child {
  border: none;
}

#zjr_video {
  border: none;
}
